Resources:
  event:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: "event"
      KeySchema:
        HashKeyElement: {AttributeName: id, AttributeType: S}
      ProvisionedThroughput: {ReadCapacityUnits: 1, WriteCapacityUnits: 1}

  team:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: "team"
      KeySchema:
        HashKeyElement: {AttributeName: id, AttributeType: S}
      ProvisionedThroughput: {ReadCapacityUnits: 1, WriteCapacityUnits: 1}

