option_settings:
  aws:elasticbeanstalk:customoption:
    NewSignupEmail: me@example.com
  aws:elasticbeanstalk:application:environment:
    THEME: "flatly"
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    EVENT_TABLE: '`{"Ref" : "event"}`'
    TEAM_TABLE: '`{"Ref" : "team"}`'
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
